@model IEnumerable<NWSCookBook.Models.Recette>

@{
    ViewData["Title"] = "View";
}

<h1>Les Recettes des A1</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Auteur</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Recette item in Model.OrderBy(i => i.Name))
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Author</td>
            <td class="text-right">
                <a class="btn btn-primary" asp-action="Recette" asp-route-id="@item.URL">Accéder à la recette</a>
            </td>
        </tr>
    }
    </tbody>
</table>